<h2>Name: <%= @students.name %> </h2>
<h2>
  Birthday: <%= @students.birthday.strftime("%B %e %Y") if @students.birthday %>
</h2>
<h2>
  Student ID: <%= @students.studentID %>
</h2>
<h2>
  Phone Number: <%= @students.phoneNumber %>
</h2>
<hr>
<div>
  <a class="myButton" href="/students">Back to Student Directory</a>
  <br>
  <br>
  <a class="myButton" href="/students/<%= @students.id %>/edit">Edit</a>

  <form action="/students/<%= @students.id %>" method="POST">
    <input type="hidden" name="_method" value="DELETE"/>
    <br>
    <input class="myButton" type="submit" value="Delete this student"/>
  </form>
  <br>

</div>


